@import url("https://fonts.googleapis.com/css2?family=Montserrat");
html {
  text-align: left;
  font-family: "montserrat";
  width: 640px;
  margin: auto;
}

body {
  border: 2px solid purple;
  border-radius: 7px;
  padding: 10px;
}

.center {
  text-align: center;
}

#container {
  text-align: center;
  margin-bottom: 10px;
}
.team {
  border: 2px solid rgb(236, 234, 236);
  border-radius: 5px;
  background-color: rgb(241, 241, 255);
  color: purple;
  margin-bottom: 10px;
  padding: 5px;
  text-transform: capitalize;
  font-weight: bolder;
}

h1 {
  color: purple;
  font-weight: 800;
  position: relative;
}


label {
  font-size: 16px;
  color: black;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 2px;
}

input[type="radio"]:checked + label {
  background-color: lavender;
  color: purple;
  border-bottom: 2px solid purple;
  font-weight: bolder;
  transition: 0.1s ease-in;
}


/* span {
  border-bottom: 3px dotted black;
  font-weight: 900;
  color: black;
} */

textarea {
  resize: none;
  border-radius: 4px;
  border: 2px solid  rgb(171, 170, 171);
}

.overlay-tb{
    font-size: 16px;
    margin-top:100px;
    background-color: rgba(255, 254, 254, 0.833);
    border:none;
    padding:10px;
    overflow-y: hidden;
}

.overlay{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    cursor:pointer;
    color:black;
}
.hidden{
    display: none;
    transition: 0.2s ease-in;
}


.close-button{
    position: absolute;
    top:50px;
    right:50px;
    color:white;
    font-size: 40px;
    font-weight: 900;
    z-index: 999;
}
.close-button:hover{
    color:white;
    transition: 0.08s ease-in;

}

select,button{
    font-size:16px;
    font-family: "montserrat";
    padding: 5px;
}

button{
    background-color: purple;
    color: white;
    border: 2px solid purple;
    padding: 7px;
    border-radius: 3px;
    
}

button:hover{
    cursor: pointer;
    background-color: rgb(154, 0, 154);
    box-shadow: 2px 2px 3px #ccc
}